#switzerland{
    font-weight: 900;
    background-color: #ec1b24;
    display: inline-block;
    color: white;
    margin:3px 3px;
    font-size: 100px;
    -webkit-text-stroke: 8px white;
    padding: 0px 45px;
}
#poland1{
    background-color: white;
    color: white;
}
#poland2{
    background-color: red;
    color:red;
}
table{
    border: 1px solid black;
    font-size: 100px;
}
#palau{
    background-color: #7bafde;
    color: #7bafde;
    display: inline-block;
    padding: 20px 15px 20px 17px;
}
#palau2{
    border-radius: 50%;
    background-color: yellow;
    color:yellow;
}

.blue{
    background-color:#7bafde;
    color:#7bafde;
    outline:1px solid #7bafde;
}
.white{
    background-color: white;
    color:white;
}